# Compiled source
*.pyc

# SQLite 
*.sqlite3
*.sqlite

# vim temp files
.*.swp

# backup folder
bak/
result/
tmp/
log/
md5/
env/
bak.env/
*.bak


soft/blast

proj/settings.py
proj/pred/config/computenode.txt
proj/pred/config/config.json
