{% extends "pred/base_layout.html" %}

{%block content_right_panel %}
    {% if username %}
      {% include "pred/user_header.html" %}
    {% endif %}
  <h2>Download</h2>
  <br><br>
  <table cellspacing=0 cellpadding=0 border=0>
  {% comment %}
    <tr>
      <td>
      <h3>1. TOPCONS2.0 dataset</h3>
        <p style="margin-left:15px;">
        Zip file for the TOPCONS2.0 dataset: <a
            href="{{STATIC_URL}}download/TOPCONS2.0_datasets.zip">TOPCONS2.0_datasets.zip</a>
        <br><br>
        <i>Format:</i><br>
        <pre>
  Each target contains three lines
  line 1: Sequence description
  line 2: Amino acid sequence in one letter code
  line 3: Topology and signal peptide of the protein in one letter code
          S - Signel peptide
          I - Inside of the membrane
          O - Outside of the membrane
          M - Transmembrane region
        </pre>
        <p>
      </td>
    </tr>
  {% endcomment %}

    <tr>
        <td>
            <h3>1. Software of SCAMPI2 on the github:</h3>
            <p style="margin-left:15px;">
            <a href="https://github.com/christoph-peters/scampi2">https://github.com/christoph-peters/scampi2</a>
            <br><br>
            </p>
        </td>
    </tr>
    {%comment%}
    {%if zipfile_wholepackage %}
        <tr>
            <td>
                <h3>2. The whole package of BOCTOPUS2 in one zip file. </h3>
                <p style="margin-left:15px;">
                <a href="{{STATIC_URL}}download/{{zipfile_wholepackage}}">{{zipfile_wholepackage}} </a>({{size_wholepackage}})<br><br>
                    <a href="{{STATIC_URL}}download/README_boctopus2.txt">README for the BOCTOPUS2 package</a>
                    <br><br>
                </p>
            </td>
        </tr>
    {%endif%}
        <tr>
            <td>
                <h3>Supplementary information of the paper</h3>
                <p style="margin-left:15px;">
                <a href="{{STATIC_URL}}download/boctopus2_crossvalidation_dataset.xlsx">boctopus2_crossvalidation_dataset.xlsx  </a><br><br>
                <a href="{{STATIC_URL}}download/boctopus2_dataset_sequenceannotation.txt">boctopus2_dataset_sequenceannotation.txt</a><br><br>
                <a href="{{STATIC_URL}}download/boctopus2_predictedtopologies.zip">boctopus2_predictedtopologies.zip</a><br><br>
                <a href="{{STATIC_URL}}download/predictedtopologies_othermethods.zip">predictedtopologies_othermethods.zip</a><br><br>
                <a href="{{STATIC_URL}}download/predictedtopologies_comparison.zip">predictedtopologies_comparison.zip</a><br><br>
                <br><br>
                </p>
            </td>
        </tr>
    {%endcomment%}
  </table>
{% endblock %}

